@import "tailwindcss";

@theme {
	/* Fonts */
	--font-sans: 'Rubik', sans-serif;
	--font-serif: 'Rubik', sans-serif;

	/* Custom Colors */
	--color-primary-50: oklch(0.971 0.013 17.38);
	--color-primary-100: oklch(0.936 0.032 17.717);
	--color-primary-200: oklch(0.885 0.062 18.334);
	--color-primary-300: oklch(0.808 0.114 19.571);
	--color-primary-400: oklch(0.704 0.191 22.216);
	--color-primary-500: oklch(0.637 0.237 25.331);
	--color-primary-600: oklch(0.577 0.245 27.325);
	--color-primary-700: oklch(0.505 0.213 27.518);
	--color-primary-800: oklch(0.444 0.177 26.899);
	--color-primary-900: oklch(0.396 0.141 25.723);
	--color-primary-950: oklch(0.258 0.092 26.042);

	--color-gray-50: oklch(0.985 0.001 106.423);
	--color-gray-100: oklch(0.97 0.001 106.424);
	--color-gray-200: oklch(0.923 0.003 48.717);
	--color-gray-300: oklch(0.869 0.005 56.366);
	--color-gray-400: oklch(0.709 0.01 56.259);
	--color-gray-500: oklch(0.553 0.013 58.071);
	--color-gray-600: oklch(0.444 0.011 73.639);
	--color-gray-700: oklch(0.374 0.01 67.558);
	--color-gray-800: oklch(0.268 0.007 34.298);
	--color-gray-900: oklch(0.216 0.006 56.043);
	--color-gray-950: oklch(0.147 0.004 49.25);

	--color-brand-primary: var(--color-primary-500);
	--color-brand-primary-hover: var(--color-primary-600);
	--color-brand-dark: var(--color-gray-950);
	--color-brand-darker: #000000;
}

@layer utilities {
	.font-serif {
		font-family: var(--font-serif);
	}
    .font-serif-display {
        font-family: var(--font-serif);
        letter-spacing: -0.02em;
    }
	.font-sans {
		font-family: var(--font-sans);
	}
}
